html {
    font-size: 12px;
}

.rounded-set-1 {
    border-radius: 0.25rem;
}

.rounded-set-2 {
    border-radius: 0.5rem;
}

.rounded-set-3 {
    border-radius: 1.5rem;
}

#root {
    width: 375px;
    /* height: 635px; */
    border: 0.5px solid;
}

#title {
    font-size: 14px;
    letter-spacing: 0.5rem
}

.fontSet-1 {
    font-size: 12px;
}

.fontSet-2 {
    font-size: 13px;
}