html {
    font-size: 12px;
}

.rounded-set-1 {
    border-radius: 0.25rem;
}

.rounded-set-2 {
    border-radius: 0.5rem;
}

.rounded-set-3 {
    border-radius: 1.5rem;
}

.fontSet-1 {
    font-size: 12px;
}
.fontSet-2 {
    font-size: 13px;
}
.fontSet-3 {
    font-size: 14px;
    letter-spacing: 0.5rem
}

.black{
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
}

.bg-gray{
    background-color: #f2f2f2;
}

.DBTN-Select{
    background-color: #5551ff;
    color: hsl(0, 0%, 95%);
    font-size: 14px;
    border: 0px;
    border-radius: 1.5rem;
    line-height: 2;
}

.DBTN-Black{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
    font-size: 13px;
    border-radius: 1.5rem;
    line-height: 2;
}
.DBTN-Purple{
    background-color: #5551ff;
    color: hsl(0, 0%, 95%);
    font-size: 12px;
    border-radius: 1.5rem;
    line-height: 2;
    border: 0px;
}

.DBTN{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 1.5rem;
    line-height: 2;
}

.DSelect{
    width:165px;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    height: 30px;
    line-height: 2;
    font-size: 14px;
    position: relative;
    border: 1px solid hsl(0, 0%, 15%);
}

.DSelect select {
    width: 100%;
    padding-left: 10px;
    font-size: 13px;
    background-color: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sceneBox{
    background-color: #cccccc;
    height: 102px;
    border-radius: 1.5rem;
}

.hashTag{
    font-size: 13px;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    /* border:0.5px solid transparent */
}

.title{
    font-size: 16px;
    font-weight: bold;
}
.tag{
    font-size: 13px;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}