html {
    font-size: 12px;
}

.rounded-set-1 {
    border-radius: 0.25rem;
}

.rounded-set-2 {
    border-radius: 0.5rem;
}

.rounded-set-3 {
    border-radius: 1.5rem;
}

#root {
    width: 375px;
    /* height: 635px; */
    border: 0.5px solid;
}


.fontSet-1 {
    font-size: 12px;
}
.fontSet-2 {
    font-size: 13px;
}
.fontSet-3 {
    font-size: 14px;
    letter-spacing: 0.5rem
}

.DBTN-Select{
    background-color: #5551ff;
    color: hsl(0, 0%, 95%);
    font-size: 14px;
    border: 0px;
    border-radius: 1.5rem;
    line-height: 2;
}

.DBTN{
    background-color: #cccccc;
    color: hsl(0, 0%, 15%);
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 1.5rem;
    line-height: 2;
}

select{
    background-color: #ededed;
    color: hsl(0, 0%, 15%);
    font-size: 14px;
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 1.5rem;
    height: 25px;
}

.bee{
    position: relative;
    display: inline-block;
}

.bee select {
    width: 100%;
    padding-left: 10px;
    font-size: 13px;
    background-color: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bee::after{
    content: '▼';
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #555;
    pointer-events: none;
}